.success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.validationError {
  width: 100%;
  padding: 10px;
  color: #f00;
  background-color: #333;
  margin-bottom: 10px;
  text-align: left;
}